.app-header {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  background-color: white;
  & > * {
    grid-column: 2;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      display: flex;
      gap: 10px;
      font-size: rem(22px);
      a {
        margin-left: rem(24px);
      }
    }
    .logo {
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
