.cocktail-recipe {
  @include pos-center;

  color: white;
  h1 {
    font-size: rem(52px);
    font-family: cormorant-bold;
  }
  ul {
    list-style: none;
    li {
      font-size: rem(16px);
      display: flex;
      gap: 10px;
    }
  }
}
