//CORMORANT
@font-face {
  font-family: cormorant;
  src: url('../../fonts/Cormorant-Regular.ttf');
}

@font-face {
  font-family: cormorant-bold;
  src: url('../../fonts/Cormorant-Bold.ttf');
}

@font-face {
  font-family: cormorant-semi;
  src: url('../../fonts/Cormorant-SemiBold.ttf');
}

//ROBOTO
@font-face {
  font-family: roboto;
  src: url('../../fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: roboto-bold;
  src: url('../../fonts/RobotoCondensed-Bold.ttf');
}
