// Colors
$clr1: #e1f3eb;
$clr2: #fddcd3;
$clr3: #f3e6e0;
$clr1-dark: #44e7ab;
$clr2-dark: #d17157;
$clr3-dark: #e87742;
$clr-black: #151515;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1280px;

//cards
$background-dark: #2d3548;
$text-light: rgba(255, 255, 255, 0.6);
$text-lighter: rgba(255, 255, 255, 0.9);
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 64px;
$width-container: 1200px;
