.homepage {
  height: 100%;
  .landing-page {
    position: relative;
    height: rem(600px);
    width: 100%;
    overflow: hidden;
    h1 {
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 70%;
      font-family: cormorant-semi;
      text-align: center;
      font-size: rem(70px);
      color: white;
    }
    video {
      width: 100%;
      filter: brightness(50%);
    }
  }
  .moves-wrapper {
    height: 100%;
    border-radius: rem(8px);
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.665);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}
